
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
.btn-primary{
    border-radius: 8px;
    background: #ff900E;
    padding: 20px 25px;
    color: #fff;
    font-size: 1.25rem;
    cursor: pointer;
    border: 0;
}
.text-light-gray{
    color: #727272;
}


/* -------header------ */
header{
    background-color: #FFF4E7;
    padding: 20px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    color:  #131313;
    font-size: 45px;
    font-weight: 700; 
}
nav > ul {
    display: flex;
}
nav li {
    list-style: none;
    margin-right: 30px;
    font-size: 18px;
    font-weight: 500;
}
nav li a{
    text-decoration: none;
}

/* --------Main----------- */
main{
    max-width: 1440px;
    margin:0px 240px;
}
/* -------Teams-Container--------- */
.teams-container{
    display: flex;
    align-items: center;
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.teams-content{
   padding-left: 70px;
}
.teams-title{
    font-size: 2.8rem;
}
.quick{
    color: #727272;
    font-weight: 500;
}
.txt-features{
    color: #FF900E;
    font-weight: 700px;
}




/* -----Banner----- */
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.banner-img{
    margin-top: 20px;
    width: 100%;
}

/* ----------Facts----- */
.facts-card-container{
    display: flex;
    justify-content: space-around;
}
.card{
    border: 1px solid #ff900e;
    border-radius: 8px;
    text-align: center;
    text-align: center;
    padding: 30px;
    
}
.cards-stats{
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}
.card-title{
    font-weight: 600;
    margin-top: 5px;
}


/* ------------sponsor--------- */
.sponsor{
    text-align: center;
}
.sponsor-img-container{
    display: flex;
    margin-top: 50px;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}
.sponsor-img-container img{
    width: 165px;
}

/* --------feature--------- */
.features{
    display: flex;
    margin-top: 130px;
    gap: 40px;
    /* justify-content: space-between;
    align-items: center; */
}
.feature-card{
    width: 500px;
    height: 171px;
}
.feature-title{
    font-size: 45px;
    font-weight: 700;
}
.feature-img{
   
    height: 70%;
    margin-left: 50px;
    
}
.ten-years-badge{
    border-radius: 8px;
    background: #FF900E;
    color: #fff;
    width: 342px;
    padding: 40px;
    text-align: center;
    position: relative;
    bottom: 100px;

}
.ten-years-badge h2{
    font-size: 4rem;
    margin: 0px;
}
.ten-years-badge p{
    font-size: 1.5rem;
}





/* --------Responsive-------------- */
/* ----------Mobile------ */

@media screen and (max-width: 575px){
    header{
        padding: 20px;
    }
    nav, .teams-container, .facts-card-container, 
    .sponsor-img-container,
    .features{
        flex-direction: column;
    }
    main{
        
        margin:0px;
    }
    /* -------features------ */
    .feature-img{
        width: 90%;
        margin-left: 0px;
    }
    .ten-years-badge{
        max-width: 200px;
        position: static;
    }

    /* ---------teams container---------- */
    .teams-img-container{
        grid-template-columns: 1fr;
    }
    .teams-content, .facts-container{
        padding: 0px;
        margin: 40px;
    }
    .card{
        margin: 10px 0px;
    }
    .feature-card{
        width: 400px;
    }

    
   
    




}


/* --------Tablets------- */
@media screen and (min-width: 577px) and (max-width: 960px){

    header{
        padding: 20px;
    }
    nav, 
    .teams-container,
    .sponsor-img-container,
    .features{
        flex-direction: column;
    }
    .teams-content{
        padding: 0px;
        margin: 0px;
    }
    main{
        
        margin: 100px;
    }
    .card{
        margin-right: 7px;
    }
    .feature-img{
        width: 60%;
        
        margin-left: 0px;
        margin-left: 100px;
    }
    .ten-years-badge{
        max-width: 200px;
        height: 80px;
        padding-top: 10px;
        padding-bottom: 15px;
        position: static;
        position: relative;
        bottom: 90px;
    }
    .ten-years-badge h2{
        font-size: 22px;
        
    }
}

























